<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body style="background-color: lightblue">
<div class="container" style="">
    <div class="container" >
        <div class="row clearfix" style="height: 20%">
            <div class="col-md-4 column">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <table border="1">
                            <caption><strong>{{ student.classid.collegeid.name }}</strong>书记</caption>
                            <tr>
                                <th>姓名</th>
                                <th>联系方式</th>
                            </tr>
                            {% for secretary in secretary_set %}
                            <tr>
                                <td>{{ secretary.name }}</td>
                                <td>{{ secretary.contact }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-6 column">
                        <table border="1">
                            <caption><strong>{{ student.roomid.buildingid }}</strong>栋宿管</caption>
                            <tr>
                                <th>姓名</th>
                                <th>联系方式</th>
                            </tr>
                            {% for housemaster in housemaster_set %}
                            <tr>
                                <td>{{ housemaster.name }}</td>
                                <td>{{ housemaster.contact }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <p><strong>{{ student.name }}</strong>同学，你好</p>
            <p>你的寝室剩余电量为<strong>{{ fee.remain }}</strong>度，{% if fee.remain < 20 %}电量不多了，请尽快充值{% else %}电量充足，请放心使用{% endif %}。</p>
            <p>你的寝室上一次评分在<strong>{{ mark.dt }}</strong>，打分<strong>{{ mark.score }}</strong>分，<strong>{% if mark.score < 60 %}差{% elif mark.score < 75 %}中{% elif mark.score < 90 %}良{% else %}优{% endif %}</strong>，评分人：<strong>{{ mark.housemasterid.name }}</strong>宿管</p>

            </div>
            <div class="col-md-4 column">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <p>你的辅导员是<strong>{{ student.classid.instructorid.name }}</strong>，联系方式：<strong>{{ student.classid.instructorid.contact }}</strong></p>
                    </div>
                    <div class="col-md-6 column">
                        <a href="{% url 'dorm:user_login' %}">注销</a><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column " style="width: 150px">
             <a href="{% url 'dorm:student_mark' %}?user_id={{user_id}}" target="iframe_a">历史评分</a><br/>
            <a href="{% url 'dorm:student_fee' %}?user_id={{user_id}}" target="iframe_a">电费充值记录</a><br/>
            <a href="{% url 'dorm:student_unsubscribe' %}?user_id={{user_id}}" target="iframe_a">办理退宿</a><br/>
            <a href="{% url 'dorm:student_repair_record' %}?user_id={{user_id}}" target="iframe_a">维修</a><br/>
            <a href="{% url 'dorm:student_building_select' %}?user_id={{user_id}}" target="iframe_a">楼栋信息</a><br/>
            </div>
            <div class="col-md-8 column">
                <iframe src="" name="iframe_a" style="height: 700px;width: 1000px"></iframe>
            </div>
        </div>
    </div>

</div>


</body>
</html>
