<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body bgcolor="lightblue" >
        <p>{{ secretary.collegeid.name }}{{ secretary.name }}书记，你好</p>
        <p>你院有{{ class_amount }}个班级，共{{ student_amount }}名学生</p>
        {% for cls in class_set %}
        <a href="{% url 'dorm:secretary_class' %}?user_id={{user_id}}&classid={{cls.name}}" >{{ cls.name }}</a><br />
        {% endfor %}
        <a href="{% url 'dorm:secretary_lookup' %}?user_id={{user_id}}" >查询学生信息</a><br />
        <a href="{% url 'dorm:secretary_checkin' %}?user_id={{user_id}}" >入住审核</a><br />
        <a href="{% url 'dorm:secretary_unsubscribe' %}?user_id={{user_id}}" >退宿审核</a><br />
        <a href="{% url 'dorm:user_login' %}" >注销</a><br />
    </body>
</html>
