<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body bgcolor="lightblue">
<table border="1">
    <caption><strong>{{ room.buildingid.name }}</strong>栋<strong>{{ room.name }}</strong>成员</caption>
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>班级</th>
        <th>性别</th>
        <th>联系方式</th>
        <th>辅导员</th>
        <th>辅导员联系方式</th>
    </tr>
    {% for student in student_set %}
    <tr>
        <td>{{ student.sno_id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.classid.name }}</td>
        <td>{% if student.sex %}男{% else %}女{% endif %}</td>
        <td>{{ student.contact }}</td>
        <td>{{ student.classid.instructorid.name }}</td>
        <td>{{ student.classid.instructorid.contact }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'dorm:secretary_class' %}?user_id={{user_id}}&classid={{classid}}">返回</a>
</body>
</html>
