<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body bgcolor="lightblue">
<form action="{% url 'dorm:instructor_checkin_result' %}?user_id={{user_id}}" method="post">
    {% csrf_token %}
    <table border="1">
        <caption>入住申请表</caption>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>房间号</th>
            <th>已住情况</th>
            <th>申请时间</th>
            <th>审核</th>
        </tr>
        {% for rec in rec_set %}
        <tr>
            <td>{{ rec.sno.sno_id }}</td>
            <td>{{ rec.sno.name }}</td>
            <td>{{ rec.roomid.name }}</td>
            <td>{{ rec.occupant }}/{{ rec.roomid.capacity }}</td>
            <td>{{ rec.dt }}</td>
            <td><input type="checkbox" name="checked" value="{{ rec.sno_id }}" {% if rec.instructor_check %}checked{% endif %}/></td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="提交"/>
</form>
<a href="{% url 'dorm:instructor_index' %}?user_id={{user_id}}">返回</a>
</body>
</html>
